.root{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
  background-color: lightgray;
}

.container{
  display:flex;
  width: 70vw;
  height:85vh;
  background-color: lightcoral;
}