.root{
  display:flex;
  width: 70vw;
  height:85vh;
}

.sidelink{
  width:15vw;
  height:85vh;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  word-break:break-all;
  margin:0;
  padding:0;
  align-items: center;
}
.mainpage{
  width:55vw;
  height:85vh;
  display:flex;
}